.main {
  background-color: rgb(42, 0, 50);
    border-radius: 12px;
    color:white;
    margin:10px;
    padding:5px 25px 10px 25px;
}

.switch {
  border: none;
  background-color: transparent;
}

.white-icon {
  color:white
}
body {
  font-family: 'Arial', sans-serif;
  margin:0;
}

.results {
  display: flex;
  justify-content: space-between;
  margin-top:30px;
  margin-bottom:20px;
}

.inputfield {
  display: flex;
  width:100%;
}

.footer {
  background-color: rgb(42, 0, 50);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 14px 0;
  text-align: center;
  color: white;
  font-size: 12px;
}

.footer-content {
  display: flex;
  justify-content: center;
}

.footer-content span {
  margin: 0 14px;
}


.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .input-container {
    flex-direction: column;
    align-items: stretch;
  }
}
.divSelect{
  width:100%
}

.heart-icon{
  margin-top:5px;
}

